body {
  background: black;
  color: #00ff66;
  font-family: monospace;
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
}

/* BACKGROUND IMAGE */
#bg-image {
  position: fixed;
  inset: 0;
  background: url('background.png') center center/cover no-repeat;
  opacity: 0;
  transition: opacity 2s ease;
  z-index: -2;
}

/* SCANLINES */
#scanlines {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 999;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0,255,100,0.04),
    rgba(0,255,100,0.04) 1px,
    transparent 2px,
    transparent 4px
  );
  animation: scanmove 8s linear infinite;
}

@keyframes scanmove {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
  }
}

#header {
  text-align: center;
  position: relative;
  z-index: 2;
}

#terminal-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(5,5,5,0.95);
  padding: 10px;
  display: flex;
  border-top: 1px solid #00ff66;
  backdrop-filter: blur(2px);
}

#terminal-bar span {
  white-space: nowrap;
}

input {
  flex: 1;
  background: transparent;
  border: none;
  color: #00ff66;
  font-family: monospace;
  outline: none;
}

a {
  color: #00ff66;
}

#output {
  margin-bottom: 80px;
  position: relative;
  z-index: 2;
}
