body {
  background: black;
  color: #00ff66;
  font-family: monospace;
  margin: 0;
  padding: 20px;
}

#bg {
  position: fixed;
  inset: 0;
  background: url("background.png") center/cover no-repeat;
  opacity: 0;
  transition: 2s ease;
  z-index: -2;
}

/* SCANLINES OVERLAY */
#scanlines {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  transition: opacity 2s ease;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 255, 102, 0.05),
    rgba(0, 255, 102, 0.05) 1px,
    transparent 2px,
    transparent 4px
  );
}

#header {
  text-align: center;
}

#terminal {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #00ff66;
  background: rgba(0,0,0,0.9);
}

#prompt {
  white-space: nowrap;
}

input {
  flex: 1;
  background: transparent;
  border: none;
  color: #00ff66;
  outline: none;
  font-family: monospace;
}

a {
  color: #00ff66;
}

#output {
  margin-bottom: 80px;
}

/* ACTIVE STATE */
body.logged-in #bg {
  opacity: 0.15;
}

body.logged-in #scanlines {
  opacity: 0.25;
}
